p ,  span , h1, h3, b{
  font-family: Lato;
  padding:5px 0;
  display: block;
}
button{
  background-color: #2B3BCF;
   border: none;
   color: white;
   padding: 10px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
}
input{
  height:32px;
  padding: 0 5px;
  margin-right: 10px;
}